body {
    background-color: rgb(220, 229, 207);
    font-family: 'Prompt', sans-serif;
    padding: 10px;
    }

.container{
    max-width:1400px;
    margin:auto;
    display:grid;
    grid-template-columns:380px 1fr;
    gap:20px;
}

.profile {
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 25px;
    img {
        width: 250px;
        border-radius: 50%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.greeting {
    padding: 10px;
    h1 {
        font-size: 80px;
        color: rgb(0, 0, 0);
    }
}

.personal {
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 25px;
    img {
        width: 250px;
        border-radius: 50%;
    }
}

.work {
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 25px;
}

.reason {
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 25px;
}
