body {
    background-color: rgb(220, 229, 207);
    font-family: 'Prompt', sans-serif;
    padding:0cqb;
    }

.container{
    max-width:1400px;
    margin:auto;
    display:grid;
    grid-template-columns:380px 1fr;
    gap:20px;
}

.profile {
    background-color: rgb(254, 255, 255);
    padding: 30px;
    border-radius: 25px;
    img {
        width: 250px;
        border-radius: 50%;
    }
}


