body {
    background-color: rgb(220, 229, 207);
    font-family: 'Prompt', sans-serif;
    padding: 10px;
    }

.container{
    max-width:1500px;
    margin:auto;
    display:grid;
    grid-template-columns:380px 1fr;
    gap:20px;
}

.profile {
    background-color: rgb(175, 194, 147);
    padding: 20px;
    border-radius: 25px;
    img {
        width: 300px;
        border-radius: 50%;
        display:block;
        margin: auto;
    }
    h1 {
        text-align: center;
        color: rgb(49, 65, 39);
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.greeting {
    padding-bottom: 0;
    h1 {
        font-size: 70px;
        text-align: center;
        margin: 0;
        color: rgb(0, 0, 0);
    }
}

.personal {
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 25px;
    img {
        width: 250px;
        border-radius: 50%;
    }
}

.work {
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 25px;
}

.reason {
    background-color: rgb(254, 255, 255);
    padding: 10px;
    border-radius: 25px;
}
